<%- include('head') %>
<link rel="stylesheet" href="/stylesheets/home.css">
<title>About us</title>
</head>
<%- include('navbar') %>  
<main>
  <section class="container-xxl about-us">
    <div class="row d-flex flex-column justify-content-center align-items-center p-5">
      <div class="col-12 col-md-6">
        <h3>Sobre nosotras/os</h3>
        <img src="/images/us.jpg" alt="dibujo de las/os fundadoras/os">
        <p>Andrea, Gonzalo, Elena y Víctor nos conocimos en nuestra época universitaria en Granada hace 5 años. Ha pasado el tiempo y seguimos muy unidas, la vida adulta no nos deja todo el tiempo que nos gustaría para compartir...Pero hay un hueco ideal que sacar para vernos: la cena. </p>
        <p> Pensar qué pedir para cenar es como buscar película en Netflix, que pasas más tiempo intentando encontrar algo que viendo nada. Un día a Elena, el sujeto más emprendedor del grupo, se le ocurrió la brillante idea de crear una herramienta para facilitar esta tarea, mostrando los mejores restaurantes a los que puedes acudir. Y cómo no...No pudimos resistirnos. </p>
      </div>
    </div>
  </section>
</main>
<%- include('footer') %>